body{
  background-color: black;
}

h1{
  margin-top:5%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: Agency FB;
}

.js-Carousel {
  background: #272822;
  height: 400px;
  margin: 10% auto 2em;
  overflow: hidden;
  position: relative;
  width: 800px;
 
}
.js-Carousel > ul {
  height: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 9999px;
}
.js-Carousel > ul li {
  display: inline-block;
  float: left;
  width: 800px;
  transition: margin-left 0.3s ease;
}
.js-Carousel > ul li img {
  max-width: 100%;
}
.js-Carousel .js-Carousel-arrowPrev,
.js-Carousel .js-Carousel-arrowNext {
  background: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  font: 400 10em sans-serif;
  height: 100px;
  outline: 0;
  position: absolute;
  top: 0;
  text-shadow: 0 0 10px #444444;
  width: 90px;
  transition: all 0.2s ease;
  margin-top: 200px;
}
.js-Carousel .js-Carousel-arrowPrev:hover,
.js-Carousel .js-Carousel-arrowNext:hover {
  color: black;
}
.js-Carousel .js-Carousel-arrowPrev {
  left: 0;
}
.js-Carousel .js-Carousel-arrowNext {
  right: 0;
}
.js-Carousel .js-Carousel-dots {
  display: inline-block;
  height: 1.25em;
  margin: 0;
  position: absolute;
  bottom: 1em;
  right: 1em;
  width: auto;
  margin-bottom: 350px;
}
.js-Carousel .js-Carousel-dots li {
  opacity: 50%;
  background: black;
  border-radius: 0.75em;
  cursor: pointer;
  display: inline-block;
  height: 0.75em;
  margin: 0 0.75em;
  width: 0.75em;
  transition: all 0.2s ease;
}
.js-Carousel .js-Carousel-dots li.is-active {
  opacity: 1;
  background: black;
  box-shadow: 0 0 3px 3px #ddd;
}
.js-Carousel .js-Carousel-dots li:hover {
  background: #f5f5f5;
}
.js-Carousel .js-Carousel-btnStop,
.js-Carousel .js-Carousel-btnPlay {
  background: black;
  opacity: 75%;
  color: white;
  border: 0;
  cursor: pointer;
  height: 2.25em;
  position: absolute;
  bottom: 1em;
  left: 2em;
  text-align: center;
  width: 5em;
  transition: all 0.2s ease;
  margin-left: 37%;
}
.js-Carousel .js-Carousel-btnStop:hover,
.js-Carousel .js-Carousel-btnPlay:hover {
  background: #f5f5f5;
  color: black;
}
.js-Carousel .js-Carousel-btnStop {
  left: 100px;

}


.singes{
  margin-left: 10%;
  z-index: 1;
  position: absolute;
  color: white;
  font-family: agency FB;
}